#topbuttoncontainer, #bottombuttoncontainer {
    width: 400px;
    text-align:center;
}
#bottombutton {
    display:none;
}
#container {
    position:relative;
}
#chessboard {
    position: relative;
    display: inline-block;
    width: 400px;
}
#mask, #notice {
    position:absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
}
#mask {
    background-color: #000;
    opacity: 0.5;
}
#notice {
    padding-top: 100px;
    color: #fff;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}
.square {
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.square.light {
    background-color: #EEE;
}
.square.dark {
    background-color: #DDD;
}
.piece {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 1em;
    text-align: center;
    overflow: hidden;
}
.piece.white {
    cursor:pointer;
}
.piece.black {
    cursor:crosshair;
}
.piece.highlighted {
    background-color: #990;
}
